html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Esto evita el desplazamiento vertical */
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1; /* Esto permite que el contenido se expanda para llenar el espacio restante */
    overflow-y: auto; /* Si el contenido es demasiado grande para caber en la pantalla, se agregará un scroll vertical */
  }

  .container-top {
    margin-top: 70px; /* Ajusta la separación entre el primer contenedor y la navbar */
    border-color: black;
  }
  
  .container-bottom {
    margin-top: 20px; /* Ajusta la separación entre los dos contenedores */
    margin-bottom: 30px;
    border-color: black;
  }

  .card img {
    max-width: 100%; /* Limita el ancho máximo de las imágenes al ancho del contenedor padre */
    height: auto; /* Mantiene la proporción de las imágenes */
  }

  .card {
    margin-right: 25px; /* Margen derecho entre las cartas */
    margin-left: 25px; /* Margen izquierdo entre las cartas */

  }

  .card-body {
    color: black; /* Cambia el color del texto para que sea legible en el fondo claro */
    background-color:burlywood;

  }

  
  /* Estilo para el video de fondo */
  video {
    position:absolute; /* Cambia la posición a absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }


  #hero {
    overflow-y: auto; /* Agrega un scroll vertical mínimo para el contenido */
    height: 100vh; /* Ajusta la altura al 100% de la ventana del navegador */
    
  }