.formulario {
  background-color: rgb(63, 63, 63); /* Color de fondo principal */
}

.card {
  border-radius: 10px; /* Bordes redondeados para la tarjeta */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card h2 {
  color: #000000; /* Color del texto del encabezado */
}

.form-control {
  border-radius: 5px; /* Bordes redondeados para los campos de entrada */
}

.btn-formulario {
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambio de cursor al pasar el mouse */
  width: 100%;
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.btn-formulario:hover {
  color: yellow;
  background-color: black; /* Color de fondo al pasar el mouse */
}
  