


.formulario {
  background-color: rgb(101, 101, 101); /* Color de fondo principal */
}

.card {
  border-radius: 10px; /* Bordes redondeados para la tarjeta */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card h2 {
  color: #000000; /* Color del texto del encabezado */
}

.form-control {
  border-radius: 5px; /* Bordes redondeados para los campos de entrada */
}

.formulario .btn {
  color: white ; /*    Color del texto del botón */
  background-color: #ffc107; /* Color de fondo del botón */
  border: none; /* Sin borde */
  font-weight: bold;
  font-size:20px; /* Espacio entre enlaces *//* Negrita */
}
.formulario .btn:hover {
  a {
    color: blue;
  }
}

.formulario .btn a {
  text-decoration: none;
  color: white;
}