@import url('https://fonts.googleapis.com/css2?family=Truculenta&display=swap');

html * {
  font-family: "Truculenta", sans-serif;
}


.descripcion{
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; 
  position: relative;
  z-index: 2;
}
.descripcion h2{
  font-size: 2.5rem;
  text-align: center;
  color: white;
  font-weight: 700;
  padding-bottom: 200px;
}

.descripcion p{
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 300px;
  
}
#hero{
  min-height: 100hv;
  position:relative;
}
video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.capa{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  mix-blend-mode: overlay;
} 